<%#<% provide(:title, "Home") %> <%# Gán biến title có giá trị là Home %>
<%# remove provide vì có hàm full_title trong helppers %>
<!--<h1>Home</h1>
<p>
This is the home page for the
<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
sample application.
</p>-->

<div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>
    
    <h2>
        This is the home page for the
        <a href="http://google.com">Ruby on Rails</a>
        sample application
    </h2>
    <!-- Change '#' to signup_path -->
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <!-- This like same as -->
    <!-- <a href="#" class="btn btn-lg btn-primary">Sign up now!</a> -->
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 
                        'http://google.com' %>
