<!-- Kiểm tra có lỗi hay không. .any? trái với .empty? -->
<% if @user.errors.any? %>
    <div id='error_explanation'>
        <div class='alert alert-danger'>
            <!-- pluralize(number, "singular") dùng để in ra số lượng + text và tự chuyển đổi singular thành plural nếu số lượng lớn hơn 1. -->
            <!-- Nếu 1 lỗi => 1 error, nếu >1 lỗi => 2 errors --> 
            The form contains <%= pluralize(@user.errors.count, "error") %>
        </div>
        <ul>
            <!-- Chạy lần lượt mỗi thông báo lỗi vào biến msg -->
            <% @user.errors.full_messages.each do |msg| %>
            <!-- In ra lỗi -->
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>