<!-- Sử dụng 3 class của css trong bootstrap  -->
<header class="navbar navbar-fixed-top navbar-inverse">
    <!-- Tạo div để ngăn ra từng phần -->
    <div class="container">
      <%= link_to "sample app", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li> <!-- Gọi tới từ file router -->
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Log in", '#' %></li>
        </ul>
      </nav>
    </div>
</header>