<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title> 
  <!-- Dòng này sẽ tự động lấy biến title ở các file trong phần views và chèn giá trị đó vào phần title-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Đọc nội dung file _shim.html.erb trong layouts, và chèn kết quả vào. -->
  <%= render 'layouts/shim' %>
</head>
<body>
  <!-- Đọc nội dung file _header.html.erb trong layouts, và chèn kết quả vào. -->
  <!-- Phần <header></header> cũ trong file _header.html.erb sẽ được chèn vào đây -->
  <%= render 'layouts/header' %>
  
  <div class="container">
    <!-- Sử dụng biến flash để gọi ra các message_type và message -->
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <!-- content_tag(:span, "test") => HTML: <span>test</span> -->
    <% end %>
    <%= yield %><!-- Dòng này sẽ tự động lấy toàn bộ dữ liệu ở mục body trong các file và chèn vào đây ở các file trong phần views và chèn giá trị đó vào phần title-->
    
    <!-- Đọc nội dung file _footer.html.erb trong layouts, và chèn kết quả vào. -->
    <%= render 'layouts/footer' %>
    
    <!--  Hiển thị nội dung debug lên trang, để dễ dàng debug trong việc phát triển -->
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
